@font-face {
    font-family: "Roboto";
    src: local("Roboto Light"), local("Roboto-Light"),
        url("../fonts/Roboto-light/Roboto-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Roboto-light/Roboto-Light.woff2") format("woff2"),
        url("../fonts/Roboto-light/Roboto-Light.woff") format("woff"),
        url("../fonts/Roboto-light/Roboto-Light.ttf") format("truetype"),
        url("../fonts/Roboto-light/Roboto-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto Regular"), local("Roboto-Regular"),
        url("../fonts/Roboto-regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Roboto-regular/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto-regular/Roboto-Regular.woff") format("woff"),
        url("../fonts/Roboto-regular/Roboto-Regular.ttf") format("truetype"),
        url("../fonts/Roboto-regular/Roboto-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto Medium"), local("Roboto-Medium"),
        url("../fonts/Roboto-medium/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Roboto-medium/Roboto-Medium.woff2") format("woff2"),
        url("../fonts/Roboto-medium/Roboto-Medium.woff") format("woff"),
        url("../fonts/Roboto-medium/Roboto-Medium.ttf") format("truetype"),
        url("../fonts/Roboto-medium/Roboto-Medium.svg") format("svg");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Prompt";
    src: local("Prompt Medium"), local("Prompt-Medium"),
        url("../fonts/Prompt-medium/Prompt-Medium.woff2") format("woff2"),
        url("../fonts/Prompt-medium/Prompt-Medium.woff") format("woff"),
        url("../fonts/Prompt-medium/Prompt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "fontello";
    src: url("../fonts/Fontello/fontello.eot"), 
        url("../fonts/Fontello/fontello.woff") format("woff"),
        url("../fonts/Fontello/fontello.woff2") format("woff2"),
        url("../fonts/Fontello/fontello.ttf") format("truetype"),
        url("../fonts/Fontello/fontello.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Fontello/fontello.svg?#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
}
