*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    min-width: 320px;
}

button {
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 0;
    cursor: pointer;
    text-align: center;
    font: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    appearance: none;
    outline: none;
    font: inherit;
}
a,
button{
    color: black;
}

input {
    border: none;
    outline: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
    -webkit-text-fill-color: #202020 !important; /* цвет текста */
    color: #202020 !important; /* цвет текста */
}

img{
    display: block;
    width: 100%;
}