:root {
    --border-radius: 12px;
    --layout-border-width: 1px;

    /* colors */
    --color-white: #ffffff;
    --color-error: #e53935;
    --color-green: rgb(0,199,62);

    /* header */
    --middle-header-height: 56px;

    /* dialogs */
    --dialogs-width: 22vw;

    /* searchbar */
    --searchbar-width: 22vw;
    --layout-animation-duration: 0.75s;
    --layout-animation-timing-function: cubic-bezier(.69,0,.35,.98);

    /* messages */
    --messages-container-width: 800px;
    --select-message-transition: 0.2s ease-out;
    --message-border-radius: 12px;
    --message-input-height: 88px;

    /* box-shadow */
    --color-default-shadow: rgba(114, 114, 114, 0.25);
}

@include media-lg {
    :root {
        /* dialogs */
        --dialogs-width: 35vw;

        /* searchbar */
        --searchbar-width: 35vw;
    }
}
@include media-md-x{
    :root {
        /* dialogs */
        --dialogs-width: 48vw;

        /* searchbar */
        --searchbar-width: 48vw;
    }
}
@include media-md{
    :root {
        /* dialogs */
        --dialogs-width: 54vw;

        /* searchbar */
        --searchbar-width: 54vw;
    }
}
@include media-sm{
    :root {
        /* dialogs */
        --dialogs-width: 100vw;
    }
}
