.wrapper{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 15px;
}
.content{
    width: 100%;
    max-width: 430px;
    text-align: center;

    & .content_title{
        font-size: 28px;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 7px;
    }
    & .content_subtitle{
        font-size: 18px;
        font-weight: 300;
        line-height: 1.2;
        opacity: 0.5;
    }
    & .content_formWrapper{
        padding: 54px 45px 45px;
        margin-top: 50px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        background-color: white;

        button[type="submit"]{
            margin-top: 5px;
        }
        & a{
            margin-top: 30px;
            transition: opacity 0.1s linear;
            &:hover{
                opacity: 0.7;
            }
        }
    }   
}
@media screen and (max-width: 450px) {
    .content .content_subtitle{
        font-size: 16px;
    }
    .content .content_formWrapper{
        padding: 35px 15px 35px;
    }
}