.message-date-group {
    .message-date-group__sticky-date {
        position: sticky;
        top: 0.625rem;
        margin: 1rem 0;
        text-align: center;
        z-index: 1;

        span {
            display: inline-block;
            padding: 0.5rem;
            font-size: 15px;
            font-weight: 500;
            color: #fff;
            border-radius: 14px;
            background-color: var(--color-stiky-date);
            cursor: pointer;
        }
    }
}
.message-list-item {
    transition: background-color 0.1s linear;

    .message-list-item__inner {
        display: flex;
        align-items: flex-end;
        margin: 0 auto 0.375rem;
        max-width: var(--messages-container-width);
    }

    .message-item__select-control {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        margin-bottom: 3px;
        border: 2px solid #fff;
        border-radius: 50%;
        background: transparent;
        opacity: 0;
        transition: opacity 0.1s linear;
        cursor: pointer;
    }

    .message-item__content-wrap {
        position: relative;
        max-width: var(--message-content-max-width);
        padding: 6px 8px;
        transition: transform 0.1s linear;
        background-color: var(--color-bg);
        border-radius: var(--message-border-radius);
        box-shadow: 0 1px 2px var(--color-default-shadow);
        cursor: auto;
        word-break: break-word;
        white-space: pre-wrap;
    }
    &:not(.own) .message-item__content-wrap {
        transform: translateX(-24px);
    }
    .message-item__content-item + .message-item__content-item {
        margin-top: 5px;
    }

    .message-item__meta {
        position: absolute;
        bottom: 0;
        right: 6px;
        padding: 3px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
        color: var(--color-text-200);
        white-space: nowrap;
        cursor: pointer;

        &.message-item__meta_bg{
            bottom: 4px;
            right: 4px;
            padding-left: 7px;
            padding-right: 7px;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }
    }

    // text
    .message-item__content-text {
        display: inline-block;
        word-break: break-all;
        font-weight: 400;
        color: var(--color-text);

        & + .message-item__meta {
            position: relative;
            margin-left: 0.75rem;
            top: 6px;
            right: unset;
            bottom: auto;
            float: right;
        }
    }
}

.message-list-item {
    &.select-mode {
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
        .message-item__content-wrap {
            cursor: pointer;
        }
        .message-item__select-control {
            opacity: 1;
        }
        .message-item__meta {
            pointer-events: none;
        }
        &:not(.own) .message-item__content-wrap {
            transform: translateX(16px);
        }
    }
    &.selected {
        background-color: rgba(0, 0, 0, 0.1);
        .message-item__select-control {
            background: url(../../../assets/img/check-mark.svg) no-repeat center center / 14px 14px, var(--color-attent);
        }
    }
    &.own {
        .message-list-item__inner {
            justify-content: space-between;
        }
        .message-item__content-wrap {
            background-color: var(--color-bg-own);
        }
        .message-text-content__meta {
            color: var(--color-message-content-meta);
        }
    }
}
