.dialog {
    padding: 8px;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.1s linear;
    &:hover {
        background-color: var(--color-bg-200);
    }
}

.avatar {
    width: 54px;
    height: 54px;
}

.badge.unread {
    background: var(--color-bg-badge-unread);
    min-width: 24px;
    height: 24px;
    border-radius: 14px;
    padding: 0 6px;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    flex-shrink: 0;
    user-select: none;
}

:global(.title h3){
    max-width: 80%;
}
:global(.subtitle .lastMessage){
    padding-right: 5px;
}
:global(.dialog){
    padding: 8px;
    border-radius: 14px;
    cursor: pointer;
}
:global(.dialog:hover){
    background-color: var(--color-bg-200);
}
:global(.dialog.active){
    background-color: var(--color-primary);
}
:global(.dialog.active .info .title h3),
:global(.dialog.active .info .title .lastMessageMeta .time),
:global(.dialog.active .info .subtitle .lastMessage){
    color: var(--color-white);
}